:root {
	--textColor: #245154; /* #99a9af; */
	--primColor: #d7cece; /* #2b2b2b; */
	--secColor: #db4b28;
	--tertColor: #4d96a8; /* #27a5da; */
	--fontSizeBase: 16px;
	--fontSizeBig: 30px;
	--fontSizeStrong: 18px;
	--fontSizeWeak: 14px;
	--fontWeightBig: 800;
	--fontWeightSmall: 200;
}

/* General Styles */
html {
	height: 100%;
}

* {
	background-color: var(--primColor);
	color: var(--textColor);
	box-sizing: border-box;
	margin: 0;
 }

h1 {
	font-size: var(--fontSizeBig);
	font-weight: var(--fontWeightBig);
	line-height: 3em;
}

a {
	color: var(--tertColor);
	opacity: 0.8;
	background-color: inherit;
	transition: color 0.1s ease-out;
}

span {
	background-color: var(--tertColor);
	color: black;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

input,
textarea {
	padding: 0.7em;
	border: none;
  	border-radius: 5px;
  	box-shadow:
			inset 3px 3px 1px #999,
  		inset -3px -3px 1px #f5f5dc;
}

textarea {
	min-height: 8em;
}

/* End General Styles */

/* Division Defaults */
body {
    font-family: 'Montserrat', 'Roboto', sans-serif;
	font-size: var(--fontSizeBase);
	line-height: 2em;
	margin: 0;
	position: relative;
	min-height: 100%;
	padding-bottom: 100px;
}

footer {
	position: absolute;
	bottom: 0;
	clear: both;
	font-size: var(--fontSizeStrong);
	text-align: center;
	width: 100%;
	height: 100px;
}

/* Division Defaults */

/* Header Specifics */

.page-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  background-color: var(--primColor);
  min-height: 100px;
}

.page-header__item {
  flex: 0 1 250px;
  margin-top: 20px;
}

.page-header__logo {
	max-width: 250px;
}

.page-header__item:last-child {
  flex-grow: 1;
}

.page-header__toggle,
#drop {
	display: none;
}

/* Header Navigation Specifics */
.main-navigation {
/*	align-items: flex-end; */
}

.navigation-list {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: flex-end;
	padding-left: 0;
}

.navigation-list > li {
	flex: 1 1 30px;
	text-align: center;
	width: 25%;
}

.navigation-list > li:nth-child(1) {
	border-left: none;
	list-style-type: none;
}

.navigation-list__item {
	display: inline-block;
	color: inherit;
	font-size: var(--fontSizeStrong);
	font-weight: var(--fontWeightSmall);
	text-decoration: none;
	transition: font-size 1s ease-in-out, font-weight 1s ease-in-out;
	transition-delay: 0.1s;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	white-space: nowrap;
}

.navigation-list__item:hover,
.navigation-list__item:focus {
	color: inherit;
	font-size: var(--fontSizeWeak);
	font-weight: var(--fontWeightBig);
}

.navigation-list__item::before {
	content: "< ";
	color: var(--textColor);
 	opacity: 0;
 	transition: opacity 1s ease-in-out, color 1s ease-in-out;
}

.navigation-list__item::after {
	content: " >";
	color: var(--textColor);
	opacity: 0;
	transition: opacity 1s ease-in-out, color 1s ease-in-out;
}

.navigation-list__item:hover::before,
.navigation-list__item:focus::before {
 	opacity: 1;
 	color: var(--secColor);
 }

.navigation-list__item:hover::after,
.navigation-list__item:focus::after {
	opacity: 1;
 	color: var(--secColor);
}

#navigation-list__item--active {
	text-decoration: none;
	font-size: var(--fontSizeWeak);
	font-weight: var(--fontWeightBig);
	cursor: default;
	color: var(--textColor);
}

#navigation-list__item--active::before {
	content: "< ";
	opacity: 1;
}

#navigation-list__item--active::after {
	content: " >";
	opacity: 1;
}

/* End Header Navigation Specifics */

/* End Header Specifics */

/* Main Specifics */

.profile,
.about-main,
.contact-main,
.contact-grid  {
	max-width: 700px;
	margin: 80px auto;
}

.about-main__item {
	margin-top: 50px;
}

.about-main__item:first-child {
	margin-top: 0;
}

.profile-image {
	float: left;
	border-radius: 50%;
	margin-right: 40px;
	max-height: 250px;
	max-width: 250px;
}

.about-main {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
}

.about-main__text > ul > li {
	list-style-type: circle;
}

/* about animation */
.skyline-graphic {
	overflow: visible;
	z-index: 10;
	height: 500px;
	width: 100%;
	margin-top: -90px;
}

@keyframes balloon-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(12000px, 600px);
  }
}

@keyframes balloon-move-background {
  from {
    transform: translate(0, 30px);
  }

	to {
    transform: translate(12000px, -300px);
  }
}

.firstballoon {
	fill: #0c131f;
	animation: balloon-move 20s ease-in-out 0s infinite alternate;
}

.secondballoon {
	fill: #316688;
	animation: balloon-move-background 30s ease-in-out 0s infinite alternate;
}

/* end about animation */

#about-footer {
	margin-top: -130px;
}

#about-footer > * {
	background-color: transparent;
}

.about-footer__icon {
	opacity: 0.6;
}

.contact-main {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

#contact-form {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 8fr;
	justify-content: center;
	align-content: flex-start;
}

.contact-grid {
	padding: 0 5% 0 5%;
}

.work-main {
	width: 70%;
	margin: 20px auto;
}

.work-main-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}

.work-main-grid__item,
.work-main-grid__item > *,
.work-main-grid__item > * > * {
	background-color: rgba(0,0,0,0);
}

.work-main-grid__item:last-child {
	grid-column: 3 / 3;
	grid-row: 1 / 3;
	background-color: darkgrey;
	display: flex;
	flex-direction: column;
}

.work-main-grid__item:last-child > h2,
.work-main-grid__item:last-child > p {
	background-color: inherit;
}

#work-cta__pseudobutton {
	border-radius: 10px;
	align-self: center;
	margin: auto;
}

/* End Main Specifics */

/* Footer Specifics */

.social-media-nav {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.social-media-nav__item {
	margin: 10px;
}

.social-media-nav__item > img {
	width: 50px;
	border-radius: 50%;
}

/* End Footer Specifics */

/* Buttons and Links */
a:visited {
  /* visited link */
  color: var(--textColor);
  opacity: 0.8;
}

a:hover,
a:focus {
	color: var(--secColor);

 /* TODO add here */
}

a:active {
  /* selected link */
  color: var(--textColor);
}

button,
.pseudobutton {
	border: none;
	font-family: inherit;
	background-color: var(--tertColor);
	font-size: var(--fontSizeStrong);
	color: #fff;
	padding: 10px 20px;
	border-radius: 20px 20px 20px 5px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	text-decoration: none;
	opacity: 1;
	transition: 0.2s opacity, 0.2s background-color, 0.2s box-shadow;
	z-index: 1;
	box-shadow: 0 0 0 #000;
}

.pseudobutton {
	border-radius: 5px 5px 20px 20px;
}

#about-main__cta {
	border-radius: 20px;
}

button:hover,
button:focus,
.pseudobutton:hover,
.pseudobutton:focus {
	color: #fff;
	cursor: pointer;
	opacity: 0.8;
	background-color: var(--secColor);
	box-shadow: 0 0 10px #000;
}

/* End Buttons and Links */

/* ---------------------------------
TODO: all below to be sorted:
--------------------------------- */

/* About Page Specific */
td,
th {
	text-align: center;
}

th {
	font-size: var(--fontSizeStrong);
}

/* End About Page Specific */

.call-to-action {
	padding: 15px 30px;
	color: #fff;
	opacity: 1;
}

.myflix {
	background-image: url("../img/screenshot_myflix.png");
	background-size: cover;
    background-position-x: center;
}

.angular-quiz {
	background-image: url("../img/screenshot_angular-quiz.png");
	background-size: cover;
    background-position-x: center;
}

.vuedolist {
	background-image: url("../img/screenshot_vuedolist.png");
	background-size: cover;
    background-position-x: center;
}

.pokedex {
	background-image: url("../img/screenshot_pokedex.png");
	background-size: cover;
    background-position-x: center;
}

.stack-list {
	display: flex;
    flex-wrap: wrap;
    flex-flow: wrap-reverse;
    align-items: flex-end;
    justify-content: flex-end;
	padding: 0 0.5rem;
	position: absolute;
	bottom: 2.5rem;
	right: 0;
}

.stack-item {
	border: 1px solid #4D96A8;
    background-color: yellowgreen;
    border-radius: 3px;
    margin-left: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0 3px;
    font-size: smaller;
    font-weight: 700;
}

.work-main-grid__item:not(:last-child) > h2 {
	text-align: center;
    background-color: rgba(0,0,0,0.8);
    font-weight: bold;
    padding: 0.5em 0;
	color: #4D96A8;

}
.work-main-grid__item:not(:last-child) {
	position: relative;
	transition: all 0.1s linear;
	border-radius: 5px;
	overflow: hidden;
}

.work-main-grid__item:not(:last-child) > p {
	color: white;
    margin-bottom: 10em;
    padding: 20px 10px;
	background-color: rgba(0,0,0, 0.5);
	text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;

}

.work-link_github {
	color: var(--textColor);
	text-align: right;
    padding: 0 1em;
    font-weight: 600;
    background-color: #4D96A8;
    border-radius: 5px;
	opacity: 1;
}

.link_no_deco {
	text-decoration: none;
	color: var(--tertColor);
	opacity: 1;
	background-color: rgba(0, 0, 0, 0);
	transition: all 0.5s ease-in-out;
}

.link_no_deco > *,
.link_no_deco > * > * {
	text-decoration: none;
}

.link_no_deco:visited {
	text-decoration: none;
	color: var(--textColor);
	opacity: 1;
  }

.link_no_deco:hover,
.link_no_deco:focus {
	text-decoration: none;
	  color: var(--textColor);

  }

.work-main-grid__item:not(:last-child):hover,
.work-main-grid__item:not(:last-child):focus {
	transform: scale(1.02);
}


.link_no_deco:active {
	text-decoration: none;
	color: var(--textColor);
  }

.layered_links {
	position: relative;
}

.link_first-layer,
.link_second-layer {
	position: absolute;
}

.link_first-layer {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.link_second-layer {
	right: 0.5rem;
bottom: 0.5rem;
opacity: 1;
  }



/* ---------------------------------
TODO: all above to be sorted:
--------------------------------- */

/* Resposivity */

@media all and (max-width: 500px),
 handheld and (orientation: portrait) {
	* {
		margin: 0;
		padding: 0;
	}

	html {
		height: auto;
		overflow: auto;
	}

	.footer-fix {
		height: 100%;
		position: relative;
		padding-bottom: 100px;
	}

	body {
		font-size: var(--fontSizeWeak);
		line-height: normal;
		position: static;
		padding-bottom: 0;
		min-height: 100%;
	}

	main {
		padding: 0 1em;
	}

	footer {
	margin-top: 2em;
	position: absolute;
	bottom: 0;
	clear: both;
	font-size: var(--fontSizeWeak);
	text-align: center;
	width: 100%;
	height: 100px;
	}

	h1 {
        font-size: var(--fontSizeBase);
    }

  h2 {
    	font-size: var(--fontSizeWeak);
    }

  table {
    	width: 100%;
    }

	th {
		font-size: var(--fontSizeWeak);
	}

	.about-main__text > ul {
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
	}

	.about-main__text > ul > li,
	.contact-main__list > ul > li {
		width: 100%;
		list-style-type: none;
		text-align: left;
		margin: 0.3em auto;
	}

	#contact-form {
    justify-content: center;
	}

	.navigation-list {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-end;
		width: 100%;
		background-color: var(--tertColor);
		 border-radius: 50%;
		 overflow: hidden;
	}

	.navigation-list > li {
		flex: 1 1 30px;
		text-align: center;
		padding: 5px;
		margin-bottom: 5px;
		background-color: var(--tertColor);
	}

	.navigation-list > li > a,
	#navigation-list__item--active {
		display: inline-block;
		border-right: none;
		border-left: none;
		line-height: 3em;
		width: auto;
		font-size: var(--fontSizeStrong);
		font-weight: var(--fontWeight);
		text-decoration: none;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: var(--primColor);
		transition: none;
		opacity: 1;
	}

	.navigation-list__item::before {
		content: "< ";
		color: var(--textColor);
	 	opacity: 0;
	 	transition: opacity 0.1s ease-out, color  0.1s ease-out;
	}

	.navigation-list__item::after {
		content: " >";
		color: var(--textColor);
		opacity: 0;
		transition: opacity 0.1s ease-out, color  0.1s ease-out;
	}

	.navigation-list__item:hover,
	.navigation-list__item:focus {
		color: var(--primColor);
		font-size: var(--fontSizeStrong);
		font-weight: var(--fontWeightBig);
	}

    .navigation-list__item,
    .main-navigation {
		display: none;
	}

	.page-header__toggle:hover,
	.page-header__toggle:focus {
		box-shadow: 0 0 3px var(--secColor);
	}

	#drop:checked + nav {
		display: block;
	}

	.main-navigation ul li {
		display: block;
		width: 100%;
	}

    .profile {
    	display: flex;
    	flex-flow: column nowrap;
    	align-items: center;
    	text-align: center;
    }

    .main {
    	margin: 70px auto;
    }

    .profile-image {
	    float: none;
	    border-radius: 50%;
	    margin-right: 0;
	    max-height: 250px;
		max-width: 250px;
	}

	.work-main {
		width: 100%;
		padding: 0 0.5em;
	}

  .work-main-grid {
        grid-template-columns: 1fr;
        grid-gap: 10px;
  }

  .work-main-grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
        padding-bottom: 1em;
  }

	.page-header {
  	width: 100%;
	display: inline-block;
	position: fixed;
	top: 0;
	left: 0;
	min-height: 60px;
	height: 60px;
	margin-bottom: 0.3em;
	z-index: 2;
	}

	.page-header__item {
		position: absolute;
		top: 0;
		margin-top: 0;
	}

	.page-header__item:first-child {
		margin-left: 1em;
		width: 50%;
		max-width: 180px;
		max-height: 60px;
		top: 0;
		left: 0;
	}

	.page-header__item:last-child
	/*, nav*/ {
		position: absolute;
		top: 60px;
		right: 0;
		width: 100%;
		opacity: 0.8;
		padding-top: 0.3em;
		background-color: var(--tertColor);
	}

	.page-header__toggle {
		display: inline-block;
		text-align: center;
		width: 60px;
		height: 60px;
		line-height: 60px;
		font-weight: var(--fontWeightBig);
		font-size: var(--fontSizeStrong);
		z-index: 1;
		cursor: pointer;
		color: var(--primColor);
		background-color: var(--tertColor);
		top: 0;
		right: 0;
		border-radius: 50%;
		margin-right: 1em;
		text-transform: uppercase;
		border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	}

	.page-header__logo {
		display: inline-block;
	}

	.skyline-graphic {
		height: auto;
		width: 100%;
	}

	.contact-main > img {
		display: none;
	}

	.contact-main {
		display: flex;
		flex-flow: column nowrap;
	  align-items: center;
	}

	.contact-main__list > ul {
		display: flex;
		flex-flow: column nowrap;
	  align-items: center;
	  justify-content: space-between;
	}

	.contact-main__list > ul > li {
		margin: 0.5em;
	}
}

/* End Responsivity */
