:root {
	--textColor: #245154; /*#99a9af;*/
	--primColor: #D7CECE;  /*#2b2b2b;*/
	--secColor: #db4b28;
	--tertColor: #4d96a8;/*#27a5da;*/

	--fontSizeBase: 16px; ;
	--fontSizeBig: 30px;
	--fontSizeStrong: 18px;
	--fontSizeWeak: 14px;

	--fontWeightBig: 800;
	--fontWeightSmall: 200;
}
/*General Styles*/

* {
	background-color:  var(--primColor);
	color: var(--textColor);
	box-sizing: border-box;
	margin: 0;
 }


h1 {
	font-size: var(--fontSizeBig);
	font-weight: var(--fontWeightBig);
	line-height: 3em;
}

a {
	color: var(--tertColor);
	opacity: 0.8;
	background-color: inherit;
	transition:  color 0.1s ease-out;
}

span {
	background-color: var(--tertColor);
	color: black;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

/*End General Styles*/

/*Division Defaults*/
body {
    font-family: 'Montserrat','Roboto',S sans-serif;
	font-size: var(--fontSizeBase);
	line-height: 2em;
	min-height: 100%;
	margin: 0;
}


footer {
	clear: both;
	font-size: var(--fontSizeStrong);
	text-align: center;
	width: 100%;
	height: 100px;
}
/*Division Defaults*/

/*Header Specifics*/

.page-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  background-color: var(--primColor);
}

.page-header__item {
  flex: 0 1 250px;
  margin-top: 20px;
}

.page-header__logo {
	max-width: 250px;
}

.page-header__item:last-child {
  flex-grow: 1;
  
}
/*Header Navigation Specifics*/

.main-navigation {	
/*	align-items: flex-end; */
}

.navigation-list {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: flex-end; 
	padding-left: 0;
}

.navigation-list > li  {
	flex: 1 1 30px;
	text-align: center;
	width: 25%;
}

.navigation-list > li:nth-child(1) {
	border-left: none;
	list-style-type: none;
} 

.navigation-list__item {
	display: inline-block;
	color: inherit;
	font-size: var(--fontSizeStrong);
	font-weight: var(--fontWeightSmall);
	text-decoration: none;
	transition: font-size 1s ease-in-out, font-weight 1s ease-in-out;
	transition-delay: 0.1s;
	letter-spacing: 0.2em; 
	text-transform: uppercase;
	white-space: nowrap;
}

.navigation-list__item:hover,
.navigation-list__item:focus {
	color: inherit;
	font-size: var(--fontSizeWeak);
	font-weight: var(--fontWeightBig);
}

.navigation-list__item:before {
	content: "< ";
	color: var(--textColor);
 	opacity: 0;
 	transition: opacity 1s ease-in-out, color 1s ease-in-out;

}

.navigation-list__item:after {
	content: " >";
	color: var(--textColor);
	opacity: 0;
	transition: opacity 1s ease-in-out, color 1s ease-in-out;
}

.navigation-list__item:hover:before,
.navigation-list__item:focus:before {
 	opacity: 1;
 	color: var(--secColor);
 
 }
.navigation-list__item:hover:after,
.navigation-list__item:focus:after {
	opacity: 1;
 	color: var(--secColor);
}  

#navigation-list__item--active {
	text-decoration: none;
	font-size: var(--fontSizeWeak);
	font-weight: var(--fontWeightBig);
	cursor: default;
	color: var(--textColor);
	
}

#navigation-list__item--active:before {
	content: "< ";
	opacity: 1;
}

#navigation-list__item--active:after {
	content: " >";
	opacity: 1;
}


/*End Header Navigation Specifics*/
/*End Header Specifics*/


/*Main Specifics*/
.profile, .about-main, .contact-main {
	max-width: 700px;
	margin: 80px auto;
}

.about-main__item {
	margin-top: 50px;
}

.about-main__item:first-child {
	margin-top: 0px;
}



.profile-image {
	float: left;
	border-radius: 50%;
	margin-right: 40px;
	max-height: 250px;
	max-width: 250px;
}

.about-main {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
}

.about-main__text > ul > li {
	list-style-type: circle;
}




/*about animation*/
.skyline-graphic {
	height: 500px;
	width: 100%;
	margin-top: -90px;
}

@keyframes balloon-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(12000px, 600px);
  }
}

@keyframes balloon-move-background {
  from {
    transform: translate(0, 30px);
  }
  to {
    transform: translate(12000px, -300px);
  }
}

.firstballoon {
	fill: #0c131f;
	animation: balloon-move 20s ease-in-out 0s infinite alternate;
}

.secondballoon {
	fill: #316688;
	animation: balloon-move-background 30s ease-in-out 0s infinite alternate;
}
/*end about animation*/

#about-footer {
	margin-top: -130px;
}

.about-footer__icon {
	opacity: 0.6;
}

.contact-main {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

#contact-form {
	display: grid;
	grid-template-columns: 1;
	grid-template-rows: 8;
	justify-content: center;
	align-content: flex-start;
}

.work-main {
	width: 70%;
	margin: 20px auto;
}

.work-main-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}

.work-main-grid__item, 
.work-main-grid__item > *, 
.work-main-grid__item > * > *  {
	background-color: lightgrey;
}

.work-main-grid__item:last-child {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
	background-color: darkgrey; 
	display: flex;
	flex-direction: column;
}

.work-main-grid__item:last-child > h2, 
.work-main-grid__item:last-child > p {
	background-color: inherit;
}

#work-cta__pseudobutton {
	border-radius: 10px; 
	align-self: center;
	margin: auto;
}

/*End Main Specifics*/

/*Footer Specifics*/

.social-media-nav {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.social-media-nav__item {
	margin: 10px;
}

.social-media-nav__item > img {
	width: 50px;
	border-radius: 50%
}
/*End Footer Specifics*/




/*Buttons and Links*/
a:visited {
  /* visited link */
  color: var(--textColor);
  opacity: 0.8;
}

a:hover, a:focus {
	color: var(--secColor);
 /*TODO add here*/
}

a:active {
  /* selected link */
  color: var(--textColor);
}

button, 
.pseudobutton {
	border: none;
	font-family: inherit;
	background-color: var(--tertColor);
	font-size: var(--fontSizeStrong);
	color: #fff;
	padding-top:10px;
	padding-right:20px;
	padding-bottom:10px; 
	padding-left:20px;
	border-radius: 20px 20px 20px 5px;
	border-bottom: 2px solid rgba(0,0,0,0.3);
	text-decoration: none;
	opacity: 1;
	transition: 0.2s opacity, 0.2s background-color, 0.2s box-shadow;
	z-index: 1;
	box-shadow: 0 0 0 #000000;
}

.pseudobutton {
	border-radius: 5px 5px 20px 20px;
}

#about-main__cta {
	border-radius:  20px;
}


button:hover,
button:focus, 
.pseudobutton:hover,
.pseudobutton:focus {
	color: #fff;
	cursor: pointer;
	opacity: 0.8;
	background-color: var(--secColor);
	box-shadow: 0 0 10px #000000;
}

/*End Buttons and Links*/

/*Resposivity*/

@media all and (max-width: 500px) {

	* {
		text-align: center;
	}

	body {
		padding: 0 10px;
		font-size: var(--fontSizeWeak);
	}

	h1 {
        font-size: 24px;
    }

    .profile {
    	display: flex;
    	flex-flow: column nowrap;
    	align-items: center;
    }


    .work-main-grid {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .work-main-grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

	.page-header {
  	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

.page-header__item {
	flex: 1 1 250px;
	margin-top: 0px;
	width: 100%
}

.page-header__logo {
	display: none;
}

.navigation-list {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	width: 100%;
}

.navigation-list > li  {
	flex: 1 1 30px;
	text-align: center;
	padding: 5px; 
	width: 100%;
	margin-bottom: 5px; 
	border-bottom: 1px solid black;
 	
	/*display: inline-block;
	width: 25%;
	text-align: center;
	padding-left: 15px
	padding-right: 15px;*/
}

.navigation-list > li:nth-child(1) {
	border-left: none;
	list-style-type: none;
} 

.navigation-list > li > a {
	display: inline-block;
	border-right: none; 
	border-left: none;
	width: auto;
	font-size: var(--fontSizeStrong);
	font-weight: var(--fontWeightSmall);
	text-decoration: none;
	letter-spacing: 0.2em; 
	text-transform: uppercase;
}

.navigation-list__item:hover {
	width: auto;
	font-size: var(--fontSizeStrong);
	font-weight:var(--fontWeightSmall);
}

.contact-main > img {
	display: none;
}

}
/*End Responsivity*/


/*---------------------------------
TODO: all below to be sorted:
---------------------------------*/

/*About Page Specific*/
td, th {
	text-align: center;
}

th {
	font-size: var(--fontSizeStrong);;
}
/*End About Page Specific*/

.call-to-action {
	padding-top:15;
	padding-right:30;
	padding-bottom:15; 
	padding-left:30;
	color: #fff;
	opacity: 1;

}
